{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Abschließende Fragen
{% endblock %}

{% block content %}

<p>Bitte beantworten Sie ein paar Fragen zu Ihrer Person.</p>

{% formfield player.age %}
{% formfield player.gender %}
{% formfield player.employment %}
{% formfield player.subject %}



  <p>  Möchten Sie uns noch etwas mitteilen oder haben Sie Anmerkungen, die Sie uns zukommen lassen möchten? </p>

<div class="form-group">
    <label class="col-form-label" for="anmerkungen" style="display:none;"></label>
    <div class="controls field-anmerkungen">
        <textarea style="max-width:940px;" name="anmerkungen" rows="10" cols="100%" id="anmerkungen" class="form-contr">
        </textarea>
    </div>
</div>

<p> Das Experiment ist beendet, vielen Dank für Ihre Teilnahme. </p>

    {% next_button %}

{% endblock %}