venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
merge.ps1

volunteer_dilemma/

bargaining/

common_value_auction/

cournot/

dictator/

guess_two_thirds/

matching_pennies/

my_public_goods/

my_simple_survey/

my_trust/

trust_simple/

trust/templates/trust/

trust/

traveler_dilemma/

survey/

public_goods_simple/

requirements_base.txt

requirements.txt

public_goods/

prisoner/

payment_info/

manage.py

Procfile

*.ipynb

_static/global/matrix.css

_templates/global/Page.html

_templates/global/MTurkPreview.html

_rooms/econ101.txt

bertrand/
