{% extends "global/Page.html" %}
{% load otree static%}

{% block title %}
Instruktionen
{% endblock %}

{% block content %}
<div>
  <p>Vielen Dank für Ihre Teilnahme an diesem Experiment. Bitte lesen Sie die Instruktionen aufmerksam durch. Für Ihre Teilnahme am heutigen Experiment erhalten Sie 2 Euro. Während des Experiments werden Sie die Möglichkeit haben, weitere Geldbeträge zu verdienen. Die Höhe dieser zusätzlichen Beträge hängt von Ihren Entscheidungen sowie den Entscheidungen der anderen Teilnehmer ab. Im Anschluss an dieses Experiment folgt noch ein kurzer Fragebogen.</p>
  <p>Bitte konzentrieren Sie sich ausschließlich auf dieses Experiment und schalten Sie Ihr Mobiltelefon bitte aus. Falls Sie Fragen haben, können Sie mich über folgeden Link anrufen: XXX.</p>
</div>
<div>
  <p><strong> Instruktionen </strong></p>
  
  <p>In diesem Experiment übernehmen Sie die Rolle eines Unternehmens auf einem Markt. In jedem Markt sind drei Unternehmen aktiv. Hinter allen drei Unternehmen stehen jeweils Teilnehmerinnen und Teilnehmer. Die drei Teilnehmerinnen bzw. Teilnehmer entscheiden selbst für ihr Unternehmen und bekommen den Gewinn, den ihr Unternehmen macht, am Ende des Experiments ausgezahlt. </p>
  <p>Alle Unternehmen bieten 24 Einheiten eines vergleichbaren Gutes an, bei dessen Produktion keine Kosten für die Unternehmen entstehen.</p>
  <p>Das Gut wird von 24 Verbrauchern nachgefragt, welche je eine Einheit dieses Gutes erwerben. Die Zahlungsbereitschaft der Verbraucher für ein Gut geht von einem bis zu 100 ECU (Experimental Currency Units), wobei 1000 ECU = 1 Euro entsprechen.</p>
  <p>Zu Beginn einer Runde haben alle Unternehmen die Möglichkeit, einen hohen (100 ECU) oder einen niedrigen Preis (60 ECU) für ihr Gut festzulegen. Das Unternehmen, welches allein den niedrigsten Preis festgelegt hat, bedient die komplette Nachfrage. Alle anderen Unternehmen verkaufen keine Ihrer Einheiten. Haben mehrere Unternehmen einen gleichen niedrigsten Preis festgelegt, so teilt sich die Nachfrage zu gleichen Teilen unter Ihnen auf.</p>
  <p>Um Ihnen die Mechanismen dieses Marktes zu verdeutlichen, folgen nun drei Beispiele:</p>
</div>
<div>
    <p> <strong> Beispiel 1 </strong></p>
    <p>Sie sind Unternehmen A und entscheiden sich dafür, einen hohen Preis für Ihre Gütereinheiten zu verlangen (100 ECU). Das Unternehmen B trifft die gleiche Entscheidung, wohingegen C einen niedrigen Preis (60 ECU) festlegt.</p>
    <p>Unternehmen C hat nun das günstigste Verkaufsangebot und wird die komplette Nachfrage bedienen. Dementsprechend wird es (60 ECU x 24 verkaufte Einheiten =) 1.440 ECU verdienen. Unternehmen A und B werden keine Einheiten verkaufen und somit in dieser Runde 0 ECU verdienen.</p>
</div>
<div>
    <p> <strong> Beispiel 2 </strong></p>
    <p>Sie sind Unternehmen A und entscheiden sich dafür, einen niedrigen Preis für ihre Gütereinheiten zu verlangen (60 ECU). Die Unternehmen B und C treffen die gleiche Entscheidung.</p>
    <p>Unternehmen A, B und C haben nun alle das günstigste Verkaufsangebot abgegeben und werden jeweils 1/3 der Nachfrage, somit 24/3 = 8 Einheiten Ihres Gutes verkaufen. Dementsprechend wird jedes Unternehmen (60 ECU x 8 verkaufte Einheiten =) 480 ECU verdienen. </p>
</div>
<div>
    <p> <strong> Beispiel 3 </strong></p>
    <p>Sie sind Unternehmen A und entscheiden sich dafür, einen hohen Preis für Ihre Gütereinheiten zu verlangen (100 ECU). Die Unternehmen B und C treffen die gleiche Entscheidung.</p>
    <p>Unternehmen A, B und C haben nun alle das günstigste Verkaufsangebot abgegeben und werden jeweils 1/3 der Nachfrage, somit 24/3 = 8 Einheiten Ihres Gutes verkaufen. Dementsprechend wird jedes Unternehmen (100 ECU x 8 verkaufte Einheiten =) 800 ECU verdienen. </p>
</div>
<p>Ihr Verdienst hängt somit von Ihrer eigenen und der Preisentscheidung der anderen Unternehmen ab. Hieraus ergibt sich folgende Gewinntabelle für Sie:</p>

<style>
   .demo {
      border:1px solid #C0C0C0;
      border-collapse:collapse;
      padding:5px;
   }
   .demo th {
      border:1px solid #C0C0C0;
      padding:5px;
   }
   .demo td {
      border:1px solid #C0C0C0;
      padding:5px;
   }
</style>
<table class="demo">
   <thead>
   <tr>
      <th><br></th>
      <th>Beide anderen Unternehmen wählen den hohen Preis</th>
      <th>Ein anderes Unternehmen wählt den hohen Preis, das andere Unternehmen wählt den niedrigen Preis</th>
      <th>Beide anderen Unternehmen wählen den niedrigen Preis</th>
   </tr>
   </thead>
   <tbody>
   <tr>
        <td> <strong>Sie wählen den <br>hohen Preis (100 ECU) </strong></td>
      <td>800 ECU </td>
      <td>0 ECU</td>
      <td>0 ECU</td>
   </tr>
   <tr>
        <td><strong>Sie wählen den<br>niedrigen Preis (60 ECU)</strong></td>
      <td>1440 ECU</td>
      <td>720 ECU</td>
      <td>480 ECU</td>
   </tr>
   </tbody>
</table>

  <p>Nachdem alle Unternehmen ihre Entscheidungen getroffen haben, werden Sie über die Preise der beiden anderen Unternehmen sowie Ihren eigenen Verdienst informiert.</p>

<div>
  <p><strong> Perioden und Runden </strong></p>

  <p>Insgesamt werden Sie mindestens 20 Perioden mit den beiden anderen Unternehmen spielen. Der Zufall entscheidet, ob in der Folge weitere Perioden gespielt werden oder nicht. Mit einer Wahrscheinlichkeit von 70% wird die Runde mit einer weiteren Periode fortgesetzt, mit einer Wahrscheinlichkeit von 30% wird die Runde beendet. Die Runde wir so lange fortgesetzt, bis der Zufall das Ende bestimmt.</p>
  <p>In jeder Periode einer Runde spielen Sie mit den gleichen Teilnehmern in einem Markt. </p>
  <p>Am Ende dieser 20 + x Perioden werden alle Teilnehmer zufällig neuen Märkten zugeordnet und es beginnt eine neue Runde. Die drei Teilnehmer in den neuen Märkten bleiben dann erneut für 20+x Perioden zusammen in einem Markt.  </p>
  <p>Insgesamt werden Sie <strong> drei Runden à 20+x Perioden </strong> spielen. </p>
  <p>Nach drei Runden endet das Experiment und es folgt ein kurzer Fragebogen. </p>
</div>
<div>
  <p><strong> Marktentscheidungen durch Algorithmen </strong></p>
    <p> In Ihren Märkten entscheiden zwei Teilnehmerinnen und Teilnehmer selbst, für welchen Preis sie ihre Güter für ihr Unternehmen verkaufen wollen und bekommen den Gewinn den ihr Unternehmen macht, am Ende des Experiments ausgezahlt.</p>
    <p> <strong> EInes der Unternehmen wird in allen Runden mit einem Algorithmus ausgestattet sein, welcher die erforderlichen Preisentscheidungen für den Teilnehmer oder die Teilnehmerin übernimmt.</strong></strongY></p>
    <p> In diesem Fall trifft die Teilnehmerin oder der Teilnehmer keine Entscheidung, bekommt aber dennoch den Gewinn, den ihr/sein Unternehmen macht, ausgezahlt.</p>

<div>
  <p><strong> Auszahlung </strong></p>

  <p>Für Ihre Auszahlung wird eine der drei Runden zufällig ausgewählt. Die dort verdienten ECU bekommen Sie zusätzlich in Euro ausgezahlt.</p>
</div>

{% endblock %}