{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Beginn des Experiments
{% endblock %}

{% block content %}

<p>Alle Entscheidungen, die Sie nun treffen werden sich direkt auf Ihre abschließende Auszahlung auswirken. </p>
<p> Wenn Sie auf Weiter klicken, befinden Sie sich in Runde 1 dieses Experiments und sind einem Markt zugeordnet, auf dem zwei weitere Unternehmen aktiv sind, die von zwei zufällig aiusgewählten Teilnehmer/Innen repräsentiert werden.</p>
<br>



    {% next_button %}
<br>
<br>
<br>
<br>
<br>
<p> ----------------------------------------------------------------------</p>
<p> Falls Unklarheiten bestehen, finden Sie hier erneut die Instruktionen: </p>
  {% include Constants.instructions_template %}

{% endblock %}
