{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}

    <h12> Sie haben 24 Einheiten des Gutes X produziert. Hierbei sind Ihnen keine Kosten entstanden.

Möchten Sie Ihre Einheiten zu einem hohen oder einem niedrigen Preis anbieten?</h12>

    <div class="form-group required">

                <button name="decision" value= 100 class="btn btn-primary btn-large"> Hoher Preis (100)</button>
                <button name="decision" value= 60 class="btn btn-primary btn-large"> Niedriger Preis (60)</button>
    </div>


{% endblock %}


