{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Willkommen
{% endblock %}

{% block content %}
<h14> <p style="text-align:center"><b> Herzlich Willkommen zu diesem Experiment</b>
        und vielen Dank für Ihre Teilnahme!</p></h14>

<h12> Bitte lesen Sie die Instruktionen aufmerksam durch und beantworten Sie anschließend die Kontrollfragen am Ende der Seite:


    TEXT TEXT TEXT


Sie sind Unternhemen A und entscheiden sich dafür, einen niedrigen Preis für Ihre Gütereinheiten zu verlangen (60 ECU). Unternehmen B trifft die gleiche Entscheidung,
wohingegen C einen hohen Preis (100 ECU) festlegt. </h12>

    {% next_button %}

{% endblock %}
