<!-- Start Styles. Move the 'style' tags and everything between them to between the 'head' tags -->

<style type="text/css">
.myOtherTable { background-color:#FFFFE0;border-collapse:collapse;color:#000;font-size:16px; }
.myOtherTable th { background-color:#b03939;color:white;width:30%; }
.myOtherTable td, .myOtherTable th { padding:6px;border:0; }
.myOtherTable td { border-bottom:1px dotted #b03939}
</style>
<!-- End Styles -->

{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choice
{% endblock %}

{% block content %}

	<p> Your role: <strong> {{player.role}} </strong> </p>
	<p> Your endowment: {{player.endowment}} points</p>
	<p>	The table below illustrates the payoffs that each project gives to you and to Participant B. </p>
	<br>
	<table class="myOtherTable">
		<tr>
			<th style="text-align: left">Projects</th>
			<th style="text-align: left">Participant A</th>
			<th style="text-align: left">Participant B</th>
		</tr>
		<tr>
			<td>X</td>
			<td>300</td>
			<td>200</td>
		</tr>
		<tr>
			<td>Y</td>
			<td>130</td>
			<td>230</td>
		</tr>
	</table>

	<br>

	<p>If neither X nor Y are implemented, each participant gets 50 points.</p>
	
	<p>You can decide which projects can be implemented among those that are reported as available by Participant B.</p>
	
	<p>You have two possible options:</p>
	<div>
		<p><strong> Option 1: </strong></p>
			<ul>
				<li> Project X is implemented if Participant B reports that X is available.</li>
				<li> Project Y is implemented if Participant B reports that Y is available.</li>
				<li> Each participant gets 50 points if Participant B reports that neither X nor Y are available.</li>
			</ul>
	</div>
	<div>
		<p><strong> Option 2: </strong></p>
			<ul>
				<li> Project X is implemented if Participant B reports that X is available.</li>
				<li> Each participant gets 50 points if Participant B reports that X is not available.</li>
			</ul>
	</div>

	<br>

    <p><strong> {% formfield group.decision %}</strong></p>  

    {% next_button %}


{% endblock %}
