{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}

<div>
		<p> (II) Suppose that participant A has chosen Option 2. <u> This means that Project Y cannot be chosen even if it is available. </u> </p>

		<p> You will learn which projects are available, if any, with a probability of 50%. You can increase this probability by using your endowment to make a contribution of points. The contribution can be any number from the list:{0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50}. </p>

		<p> <strong>  {% formfield group.contribution_2 label="Please choose your contribution:" %} </strong> </p>
	</div>

{% next_button %}
{% endblock %}
